{{#*inline "child"}}
<!-- 首页 start -->
<!-- Main -->
<section id="five" class="wrapper style2 special fade">

    <div class="container">
        <header>
            <h2>旺财狗</h2>
            <p>能帮助你、我、他快速搜索查找！真一只乖狗狗！！</p>
        </header>
        <form method="post" action="#" id="fg_seach" class="container 50%">
            <div class="row uniform 50%">
                <div class="8u 12u$(xsmall)"><input type="text" name="search" id="email" placeholder="旺财，快去搜索一下！！" /></div>
                <div class="4u$ 12u$(xsmall)"><input type="submit" value="放狗，搜一下" class="fit special" /></div>
            </div>
        </form>
    </div>
</section>
<script src="assets/js/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#fg_seach').submit(function() {
            var serach = $("input[name='search']").val();
            if (serach.length > 0) {
                // alert('不为空，可跳转');
                var url = 'https://google.elapse.date/search?q=' + serach + '+site%3Aelapse.date';
                window.location.href = url;
            } else {
                alert('搜索内容不能为空');
            }
            return false;
        });
    });
</script>
<div id="main" class="wrapper style1">


    <div class="container">


        <!-- Lists -->
        <section>
            <section>
                <h3>技术派分享</h3>
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>标题</th>
                                <th>最后修改</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each list}}
                            <tr>
                                <td>
                                    <a href="{{../base_url}}article/detail/{{id}}" title="<?= $value->title ?>" target="_blank" style="border-bottom:none;">
                                        {{title}}
                                    </a>
                                </td>
                                <td>{{last_time}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" style="text-align:center">
                                <center>
                                     <div class="3u 6u(medium) 12u$(xsmall)">
										 
                                        <ul class="actions vertical small">
											<li><a href="{{../base_url}}article/index/2" class="button small fit">查看更多</a></li>
										</ul>
									</div>
                                </center>
                                </td>
                            </tr>
                            
                            <!-- <tr>
                                <td colspan="2" style="text-align:center">
                                    <ul class="pagination">

                                        <li><a href="javascript:;" class="page active">1</a></li>
                                        <li><a href="#" class="page">2</a></li>
                                        <li><a href="#" class="page">3</a></li>
                                        <li><span>&hellip;</span></li>
                                        <li><a href="#" class="page">8</a></li>
                                        <li><a href="#" class="page">9</a></li>
                                        <li><a href="#" class="page">10</a></li>
                                        <li><a href="#" class="button">Next</a></li>
                                    </ul>
                                </td>
                            </tr> -->
                            <!-- <tr>
                                <td colspan="2" style="text-align:center">
                                    <ul class="pagination">
                                        <li><span class="button">上一页</span></li>
                                        <li><a href="#" class="page ">1</a></li>
                                        <li><a href="javascript:;" class="page active">2</a></li>
                                        <li><a href="#" class="page">3</a></li>
                                        <li><span>&hellip;</span></li>
                                        <li><a href="#" class="page">8</a></li>
                                        <li><a href="#" class="page">9</a></li>
                                        <li><a href="#" class="page">10</a></li>
                                        <li><a href="#" class="button">下一页</a></li>
                                    </ul>
                                </td>
                            </tr> -->
                            <!-- <tr>
                                <td colspan="2" style="text-align:center">
                                    <ul class="pagination">
                                        <li><span class="button">上一页</span></li>
                                        <li><a href="#" class="page ">1</a></li>
                                        <li><a href="#" class="page active">2</a></li>
                                        <li><a href="#" class="page">3</a></li>
                                        <li><span>&hellip;</span></li>
                                        <li><a href="#" class="page">8</a></li>
                                        <li><a href="#" class="page">9</a></li>
                                        <li><a href="#" class="page">10</a></li>
                                    </ul>
                                </td>
                            </tr> -->
                        </tfoot>
                    </table>
                </div>

            </section>


        </section>

    </div>

</div>
<!-- 首页 end -->
{{/inline}}
{{> (lookup this "parent")}}  